<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="/pico.min.css"
    />
    <title>Authorize | NFT Login</title>
  </head>
  <body>
    <main class="container">
      <article>
        <h1>Authorize to "<%= client.clientName %>"</h1>

        <form autocomplete="off" action="/interaction/<%= uid %>/confirm" method="post">
          <button autofocus type="submit" class="login login-submit">Continue</button>
        </form>
      </article>
    </main>

    <!-- uid data -->
    <div id="uid" class="hidden" data-uid="<%= uid %>"></div>
  </body>
</html>
